server:
    error:
        # Essa propriedade define se o usuário verá o stacktracer caso haja um estouro de exceção
        # Caso queira ver o stacktrace adcione o ?trace=true na consulta;
        include-stacktrace: on-param

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/anime?useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
        username: root
        password: root
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true